/* colors */
$primary-color: #bd5d39;
$secondary-color: #f2f2f2;
$tertiary-color: #1a1a1a;
$quaternary-color: #343a40;

/* fonts */
@font-face {
  font-family: 'cabinet grotesk';
  src: url('/CabinetGrotesk-Variable.ttf');
}

@font-face {
  font-family: 'satoshi';
  src: url('/Satoshi-Variable.ttf');
}

@font-face {
  font-family: 'satoshi-italic';
  src: url('/Satoshi-VariableItalic.ttf');
}

html,
#root {
  --s: 100px; /* control the size */
  --_g: #0000 90deg, rgba(132, 114, 11, 0.1) 0;
  background: conic-gradient(from 90deg at 2px 2px, var(--_g)),
    conic-gradient(from 90deg at 1px 1px, var(--_g));
  background-size: var(--s) var(--s), calc(var(--s) / 5) calc(var(--s) / 5);
  background-color: $tertiary-color;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  color: $secondary-color;
  font-family: 'satoshi', sans-serif;
}

.accent-orange {
  color: $primary-color;
}

.accent-gray {
  color: $quaternary-color;
}

// animation keyframes

/**
 * ----------------------------------------
 * animation flip-vertical-left
 * ----------------------------------------
 */

@-webkit-keyframes flip-vertical-left {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }
}
@keyframes flip-vertical-left {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }
}
