@import './Variables.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  background-color: $tertiary-color;
  color: $secondary-color;
  font-family: 'satoshi', sans-serif;
}
