@import './variables.scss';

.navbar {
  background-color: $primary-color;
  color: $secondary-color;
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  border: $primary-color; //by default, border is white with 1px width in chakra so we need to change it to primary color
}

.nav-link {
  font-family: 'cabinet grotesk', sans-serif;
  font-weight: 700;
  opacity: 0.6;
  color: $secondary-color;
  font-size: large;
  &:hover {
    opacity: 0.8;
  }
}

.active {
  opacity: 1;
}
