$primary-color: #bd5d39;
$secondary-color: #f2f2f2;
$tertiary-color: #1a1a1a;
$quaternary-color: #343a40;

/* fonts */
@font-face {
  font-family: 'cabinet grotesk';
  src: url('/CabinetGrotesk-Variable.ttf');
}

@font-face {
  font-family: 'satoshi';
  src: url('/Satoshi-Variable.ttf');
}

@font-face {
  font-family: 'satoshi-italic';
  src: url('/Satoshi-VariableItalic.ttf');
}
